{% extends 'base.html' %}

{% load static %}
{% load l10n %}
{% load i18n %}

{% block title %}{{ userprofile.name }} | profile {% endblock %}

{% block style %}
<style>
    body {
    background-color : #eee;
}
.navbar {
    background-color: white;
}
svg {
    position:relative;
    top: 5px;
}

@media screen and (min-width:220px ) and (max-width:390px) {
    .col-lg-8 .overview h3 {
        font-size: 28px;
    }
    .col-lg-8 .overview p {
        font-size: 20px;
    }
}
@media screen and (min-width: 1366px ) and (max-width : 1920px) {
    .jumbtrn-image {
        height: 400px;
    }
    #suka {
        z-index: -1;
    }
}
.jumbotron h1 {
    font-size: 30px;
    color: white;


}
.card-book {
    max-height: 120px !important;

}
.profile h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
.profile p {
    font-size: 24px;
    margin-bottom: 20px;
}
.profile a {
    font-size: 22px;
}
.overview h3 {
    font-size: 30px;
    margin-bottom: 20px;

}
 .sub{
    font-size: 24px;
}
#suka {
    background-color: #0275d8;
}
#suka h3{
    font-size: 30px;
}
#footer {
    background-color: white;
}

.icon{
    height: 24px;
}
</style>
{% endblock %}

{% block content %}
    <div class="jumbotron bg-primary">
        <div class="d-flex justify-content-center">
            <img src="{% static 'images/profile.svg' %}" height="400" class="img-fluid jumbtrn-image" alt="">

        </div>
        <div class="container mt-5">
            <h1 class="text-center font-weight-bold">Profil Pengunggah</h1>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="text-dark  pt-3">{{ userprofile.name }}</h3>
                    <h4 class="text-muted pt-3">Pengunggah</h4>
                    <p class="pt-4">Total buku yang diunggah : {{ book.count }}</p>
                    <h2 class="font-weight-bold text-primary mt-5">Tentang Saya</h2>
                    <div>{{ userprofile.about_me | safe }}</div>
                </div>
                <div class="col-lg-4">
                    <div class="card shadow">
                        <div class="card-body">
                            {% if not userprofile.profile_image %}
                            <img src="{% static 'images/foto-profile.svg' %}" class="img-fluid" alt="Foto Pengunggah">
                            {% else %}
                            <img src="{{ userprofile.profile_image.url }}" class="img-fluid" alt="Foto Pengunggah">
                            {% endif %}
                        </div>
                    </div>
                    <h3 class="mt-4">{{ userprofile.name }}</h3>
                    <p class="mt-3">No telp : +62 {{ userprofile.phone }}</p>
                    <a href="https://wa.me/62{{ userprofile.phone }}">Kirim pesan ke pengunggah</a>
                </div>
            </div>
        </div>

    </div>
    <div class="book mt-3 mb-4">
        <div class="container">

            <div class="card">
                <div class="card-body">
                    <h3>Buku yang {{ userprofile.name }} unggah</h3>
                    <table class="table my-4 ">
                        <thead class="text-white">
                            <tr class="bg-info">
                                <th scope="col">Buku</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if book %}
                            {% for book in book %}
                                <tr>
                                    <td>{{ book.title }}</td>
                                    <td><a href="{% url 'read:detail' book.link %}">/{{ book.link }}/</a> </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <th scope="row">Sdr. {{ userprofile.name }}</th>
                                <td colspan="2">belum mengunggah buku</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}